# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.eggs/
*.egg

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/
*.ipynb_checkpoints

# Data
data/*.parquet
data/*.xlsx

# Models
models/*.pkl
models/*.joblib

# MLflow
mlruns/
mlartifacts/
mlflow.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
